{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I’m Jaloliddin Kulmatov, a sophomore engineering student at JBNU in South Korea with a focus on AI and ML Engineering. I enjoy building practical projects, learning new technologies, and solving real-world problems with code.
        </p>
        <p>
          My goal is to grow into a strong engineer, build my own startup, and eventually solve a bigger problem in the universe.
        </p>
        <p>
          This blog is where I share what I learn, what I build, and my journey in student life and tech.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
